@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99.4%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 221 100% 50%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;
    --radius: 0.5rem;

    --logo: url("/logo_light.png");
    --logo-dark: url("/logo_dark.png");
    --logo-light: url("/logo_light.png");
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 8.9%;
    --foreground: 0 0% 93%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 8.9%;
    --popover-foreground: 0 0% 93%;

    --card: 0 0% 8.9%;
    --card-foreground: 0 0% 93%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 221 100% 50%;
    --primary-foreground: 0 0% 93%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 93%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 93%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 93%;

    --ring: 0 0% 83.1%;
    --radius: 0.5rem;

    --logo: url("/logo_dark.png");
    --logo-dark: url("/logo_dark.png");
    --logo-light: url("/logo_light.png");
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

body {
  @apply font-sans;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
